In [19]:
import numpy as np
import pandas as pd
import sys
import os
%matplotlib inline

In [20]:
import matplotlib.pyplot as plt

In [24]:
file_folder = os.getcwd()
print(file_folder)
train_data_path = file_folder +'\\data\\train.csv'
test_data_path = file_folder + '\\data\\test.csv'
print(train_data_path)

F:\GitHub\Rossman Sales\Rossmann-Store-Sales
F:\GitHub\Rossman Sales\Rossmann-Store-Sales\data\train.csv

In [27]:
data  = pd.read_csv(train_data_path,na_values = np.nan,low_memory=False)

In [28]:
data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [29]:
data.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [38]:
data.groupby('StateHoliday').Store.count()

StateHoliday
0    986159
a     20260
b      6690
c      4100
Name: Store, dtype: int64